<tr id="<%= dom_id(comment) %>">
  <td style="width: 60px">
    <%= image_tag comment.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small"><%= comment.user.decorate.full_name %></h3>
    <div id="js-comment-id-<%= comment.id %>">
      <%= simple_format(comment.body) %>
    </div>
    <div id="js-textarea-comment-box-<%= comment.id %>" style="display: none;">
      <textarea id="js-textarea-comment-<%= comment.id %>" class="form-control mb-1"><%= comment.body %></textarea>
    </div>
  </td>

  <td class="action text-end">
    <ul class="mb-0">
      <li class="d-inline-block">
        <p class="text-muted"><%= l(comment.created_at, format: :long) %></p>
      </li>
      <% if current_user.own?(comment) %>
        <li class="d-inline-block">
          <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, method: :delete, confirm: "Are you sure?" do %>
            <i class="bi bi-trash3-fill"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>
