<div id="map" style="height: 250px; width: 100%;"></div>

<script>
function initMap() {
  const mapElement = document.getElementById('map');

  const mapOptions = {
    center: { lat: <%= @board.latitude.to_f %>, lng: <%= @board.longitude.to_f %> },
    zoom: 15
  };

  const map = new google.maps.Map(mapElement, mapOptions);

  var marker = new google.maps.Marker({
    position: { lat: <%= @board.latitude.to_f %>, lng: <%= @board.longitude.to_f %> },
    map: map,
    title: '<%= @board.title %>'
  });
}
</script>
<% if Rails.env.production? %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
<% else %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
<% end %>