<div class="container text-center">
<div id="map" style="height: 500px; width: 82%; margin: 0 auto;"></div>
</div>

<script>
  function initMap() {
    const mapElement = document.getElementById('map');
    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 9
    };
    const map = new google.maps.Map(mapElement, mapOptions);

    // 単一の infoWindow を定義
    const infoWindow = new google.maps.InfoWindow();

    <% @boards.each do |board| %>
      var marker<%= board.id %> = new google.maps.Marker({
        position: { lat: <%= board.latitude.to_f %>, lng: <%= board.longitude.to_f %> },
        map: map,
        title: '<%= board.title %>'
      });

      // マーカーにクリックイベントを追加
      google.maps.event.addListener(marker<%= board.id %>, 'click', function() {
        window.location.href = '<%= board_path(board) %>'; // マーカーがクリックされたら投稿詳細ページにリダイレクト
      });

      // マーカーにマウスオーバー時のイベントを追加
      google.maps.event.addListener(marker<%= board.id %>, 'mouseover', function() {
        var contentString = '<div><h6><%= board.title %></h6></div>';
        infoWindow.setContent(contentString);
        infoWindow.open(map, marker<%= board.id %>); // マーカーの近くに吹き出しを表示
      });

      // マーカーからマウスが離れた時のイベントを追加（吹き出しを閉じる）
      google.maps.event.addListener(marker<%= board.id %>, 'mouseout', function() {
        infoWindow.close(); // 吹き出しを閉じる
      });
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
