<% content_for(:title, @board.title + " - Finding Art") %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <br>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class="d-flex justify-content-between align-items-start">
              <h3 class="d-inline"><%= @board.title %></h3>
              <%= render 'boards/board', board: @board %>
            </div>
            <hr>
            <div class='col-md-3'>
              <%= image_tag @board.board_image.url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <ul class="list-inline">
                <i class="bi bi-person-fill"></i>
                <li class="list-inline-item"><%= @board.user.decorate.full_name %></li>
              </ul>
              <ul class="list-inline">
                <i class="bi bi-calendar-date-fill"></i>
                <li class="list-inline-item"><%= l @board.created_at, format: :long  %></li>
              </ul>
              <ul class="list-inline">
                <i class="bi bi-geo-alt-fill"></i>
                <li class="list-inline-item"><%= @board.address %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@board.body) %></p>
        </div>
      </article>
    </div>
  </div>
  
  <!-- マップ表示 -->
  <%= render partial: 'boards/map_show', locals: { boards: @boards } %>
  <div class="mb-5"></div>

  <% if logged_in? %>
    <!-- コメントフォーム -->
    <%= render 'comments/form', { board: @board, comment: @comment } %>

    <!-- コメントエリア -->
    <%= render 'comments/comments', { comments: @comments } %>
  <% end %>
</div>